
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    margin: 0;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)
            ),
    url(beer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    height: 100vh;
    width: 100vw;
    justify-content: stretch;

}
.main-nav{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 3fr;
    border-style: solid;
}
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav li:hover{
    border-style: solid;
}
.main-nav p{
    font-size: 1.1rem;
    color: rgb(180, 176, 176);
    font-family: 'PT Sans', sans-Serif;
    padding: 0.8rem;
    padding-left: 2rem;
    text-align: center;
    display: block;
}
.main-nav a{
        font-size: 1.1rem;
    color: rgb(180, 176, 176);
    font-family: 'PT Sans', sans-Serif;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
}
.content{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.content h1{
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
}
.footer{
    grid-area: footer;
}
.btn{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.7;
    border-radius: 18px;
}
.centerthispls{
    grid-area: 2/1/3/4;
    align-items: center;
    display: flex;
    margin: auto;
    width: 50%;
}
.buttonas{
    margin: auto;
    width: 50%;
}
