body{
    margin:0;
}
.Header{
    border-bottom-style: solid;
    font-family: 'Codystar', cursive;
    text-align: center;
    font-size: 20px;
    box-shadow: 4px 4px 5px #888888;
    z-index: 999;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(131, 93, 93);
        background-image:
linear-gradient(
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
            ),
        url(lovin.jpg);
        background-position: cover;
}
img{
    margin: 10px;
    border-style: solid;
}
.container h1{
    width: 400px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
img:hover{
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    -moz-transition-duration: 1.5s;
    -ms-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}
.perlai img {
    width: 450px;
    height: 300px;
}
.neįprastas{
    position: relative;
    top:-42px;
}
.neįprastas h1{
    position: relative;
    bottom: -30px;
}
.mokykla{
    position: relative;
    top:-42px;
}
.mokykla h1{
    position: relative;
    bottom: -30px;
    width: 500px;
}
.kava{
    position: relative;
    top: -42px;
}
.pagalba{
    position: relative;
    top: -42px;
}
.pagalba h1{
    position: relative;
    bottom: -18px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.sticky + .container {
  padding-top: 102px;
}
.scam{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonas{
    text-decoration: none;
    border: 2px solid red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 1s;
}
.scam h3{
    text-align: center;
}
.buttonas:hover{
    background-color: red;
}
